---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import { publications } from '@/data/publications'
import ProfilePictures from '@/assets/pierre.png'
import Hero from '@/components/ui/Hero.astro'

import ArticleList from '@/components/ui/ArticleList.astro'

const { fullName, title, institute, bio } = profile

// Filter to show only 2025 papers
const recentPublications = publications.filter(paper => paper.time === '2025')

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
			profilePicture={ProfilePictures}
			bio={bio}
		/>
	</section>

	<!-- Recent Publications -->
	<section class='py-12'>
		<ArticleList listTitle='Recent Publications' listItems={recentPublications} />
	</section>
</Layout>
