---
import { Image } from 'astro:assets'

const {fullName, title, institute, profilePicture, bio} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-bold mb-4 text-base-content'>
    {fullName}
  </h1>
  {title && <p class='text-xl text-gray-600 mb-4'>{title}{institute ? ` at ${institute}` : ''}</p>}
  <p class='text-lg mb-6' set:html={bio}>
  </p>
</div>
<div class='size-80 lg:block hidden'>
  <!-- Add your profile image -->
  <Image
    src={profilePicture}
    alt={fullName}
    class='w-full h-full'
  />
</div>
